<nav class="navbar navbar-default">
  <div class="jumbotron">
    <h1>This is our Playground website! </h1>
    <a routerLinkActive="navbar-brand" routerLink="scoreboard" class="navbar-brand">Scoreboard</a>
    <a routerLinkActive="navbar-brand" routerLink="/" class="navbar-brand"> Project 2</a>
    <a routerLinkActive="navbar-brand" href="#" class="navbar-brand"> Project 3</a>
    <a routerLinkActive="navbar-brand" href="#" class="navbar-brand"> Project 4</a>
    <a routerLinkActive="navbar-brand" href="#" class="navbar-brand"> Project 5</a>
  </div>
</nav>

