
<div id="jumbotron" class="jumbotron">
    <h1 class="display-4">This is my Playground website! </h1>
</div>


<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" 
          data-toggle="collapse" data-target="#main-menu"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a routerLink="/" class="navbar-brand">Home</a>
          </div>
          <div id="main-menu" class="collapse navbar-collapse">
            <ul #nav class="nav navbar-nav">
              <li><a  routerLink="/scoreboard" class="navbar-brand">Scoreboard</a></li>
              <li><a  routerLink="/wedding-estimator" class="navbar-brand"> Wedding Estimator</a></li>
              <li><a  routerLink="/converter" class="navbar-brand"> Converter</a></li>
              <li><a  routerLink="/ideas" class="navbar-brand"> Ideas </a></li>
              <li><a  routerLink="/toldya" class="navbar-brand"> Told Ya </a></li>
              <li><a  routerLink="/testing" class="navbar-brand"> Testing Area </a></li>
              <li><a  routerLink="/countdown" class="navbar-brand"> Countdown</a></li>
              <li><a  routerLink="/testdb" class="navbar-brand"> Database</a></li>
            </ul>
          </div>
        </div>
    </nav>
</div>