.jumbotron{
    
    background-color: #c3c3c3;
    text-align: center;
}
@media (max-width: 375px){
    #main-menu > ul{
        display: grid;
    }
}
@media (min-width: 375px){
    #main-menu > ul{
        margin-left: 19%;
    }
}