<div class="container">
  <div class="col-ms-12">
  <div class="icon">
    <span>
      <img src="../../../assets/img/comment-black-oval-bubble-shape.png" alt="no photo here mdude" (click)="openDialog()">
    </span>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </div>
  </div>

  <div id="timer" *ngIf="!active">
    <span id="days"></span>days
    <span id="hours"></span>hours
    <span id="minutes"></span>minutes
    <span id="seconds"></span>seconds
  </div>
  <p *ngIf="active">Time's up</p>

 <div class="row">
   <div class="col-xs-6">
     <div>
       <div class="form-group">
         <input class="form-control" type="text">
       </div>
        <div class="form-group">
          <input class="form-control" type="number">
        </div>
        <div class="form-group">
          <input type="file">
        </div>
     </div>
   </div>
   <div class="col-xs-6">
      <div class="form-group">
        <img src="https://firebasestorage.googleapis.com/v0/b/scoreboard-ffd72.appspot.com/o/h6t7cxbfwa?alt=media&token=aa03ee84-f83d-44ea-b9fc-99ca48593e8f" alt="">
      </div>
   </div>
 </div> 

</div>