input{
    border: 1px solid black;
}

agm-map {
    height: 300px;
    width: 600px;
  }
@media (max-width: 375px){
    agm-map {
        height: 300px;
        width: auto;
        margin-bottom: 5%;
      }
}
