<div class="container">
  <p [@test]="visible">
    Hi this is a test.
    Hi this is a test.
    Hi this is a test.
    Hi this is a test.
    Hi this is a test.
    Hi this is a test.
  </p>
  <div class="row">
    <div class="col-12">
    const  {{const}}
    ngonit  {{ngOninit}}
    </div>
  </div>      

<div class="box" [class.test1]="visible">
    <img src="../../../assets/img/crest_white.png" alt="">
</div>

<br>

<button (click)="toggle()">click</button>

{{this.count}}
<br><hr>

</div>


<div class="container">
    <input type="text" [(ngModel)]="city">
    <button (click)="location(city)">leggo</button>
    
    <mat-card>
      <mat-card-content>
          <table>
            <tr>
              <td> 
                <div class="date">
                  <h3>{{today | date:'EEEE'}}</h3>
                  <h4>{{today | date:'d MMMM yyyy'}}</h4>              
                </div>
              </td>
              <td>
                <div class="img">
                  <img src="http://openweathermap.org/img/w/{{weatherData?.weather[0].icon}}.png" alt="">
                </div>
              </td>
              <td>
                <div class="weather">
                    <h3>
                      {{weatherData?.name}}
                    </h3>
                    <h4>
                      {{weatherData?.weather[0].description}}
                    </h4>
                    <span class="temperature">{{weatherData?.main.temp | number:'1.0-0'}}<span>&#176;</span>
                    / {{weatherData?.main.temp_max | number:'1.0-0'}}C</span>
                </div>
              </td>
            </tr>
          </table>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
</div>
