.box{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
 
}
p{
    position: relative;
}
p {
    /* This is the default, you don't need to
       explicitly declare it unless overriding
       another declaration */
    white-space: normal; 
  }

/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */