<div class="container" [hidden]="isSubmitted"> 

<form (ngSubmit)="onSubmit(y)" #y="ngForm" class="form-group">
  <div class="container">
    <div id="form" class="row">
        <!-- First column, budget, guests and limo-->
        <div class="column">
            <label for="guests">Number of Guests</label>
            <input [ngModel] min="0" type="number" name="guests" class="form-control" id="test">
            <hr>
            <label for="budget">Budget</label>
            <input [ngModel] min="0" type="number" name="budget" class="form-control" id="test2">
            <hr>
            <label for="limo">Limousines:  </label>
            <input [ngModel] min="0" type="number" name="limo" class="form-control" id="test">
        </div>
        <!-- Second column, music, hall, flowers-->
        <div class="column">
        <label>Music?</label>
        <div class="radio" name="radio">
            <label><input type="radio" value="dj" ngModel name="radiomusic">DJ</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="band" ngModel name="radiomusic">Band</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="none" ngModel name="radiomusic">None</label>
        </div>
        <hr>
        <label>Flowers?</label>
        <div class="radio" name="radio">
            <label><input type="radio" value="200" ngModel name="radioflowers">Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="0" ngModel name="radioflowers">No</label>
        </div>
        <hr>
        <label>Hall?</label>
        <div class="radio" name="radio">
            <label><input type="radio" value="1" ngModel name="radiohall">Yes</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="0" ngModel name="radiohall">No</label>
        </div>
        </div>
    </div>
    <div id="showSubmit">
        <hr>
        <button type="submit" (click)="onClick()" class="btn btn-primary">Submit</button>
        
        <button type="button" 
        style="margin-left:1%" 
        type="button" 
        (click)="onReset()" 
        class="btn btn-danger">Reset</button>
    </div>
  </div>
</form>
</div>
<app-wedding-options (hopefully)="ngOnInit()" 
[(hidden)]="!this.isSubmitted" 
[personInfo]="currentForm"
[isHall]="isHall"
[isBand]="isBand"
[isMusic]="isMusic">
</app-wedding-options>
