<div class="container">
	<div class="header">
		<h3 class="center">Who's logged in right now</h3>
		<h4 class="center" *ngIf="player?.isOnline; else free">{{ player.name}}</h4>
		<h5 class="center" id="timer" *ngIf="player?.isOnline"></h5>
		<ng-template #free>
			<h4 class="center">No one is online</h4>
		</ng-template>
	</div>
	<div class="body">
		<div class="submit">
			<mat-card>
				<form [formGroup]="form">

					<mat-form-field>
						<mat-select formControlName="name">
							<mat-option value="Marco">Marco</mat-option>
							<mat-option value="Vince">Vince</mat-option>
							<mat-option value="Robert">Robert</mat-option>
						</mat-select>
					</mat-form-field>
				</form>

				<button mat-button (click)="submit(true)">Log In</button>
				<button mat-button (click)="submit(false)">Log Out</button>
			</mat-card>
		</div>
		<div class="grid">
			<mat-card>
				<ul>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
					<li>test</li>
				</ul>
			</mat-card>
		</div>
	</div>
</div>