<app-head></app-head>



<div class="container">
  <button (click)="onLevel1()">Test Area 1</button> 
  <button (click)="onLevel2()">Test Area 2</button> 
  <button (click)="onLevel3()">Test Area 3</button> 
  <button (click)="onLevel4()">Test Area 4</button>
  <button (click)="onLevel5()">Test Area 5</button>
</div>


<app-lvl1 *ngIf="level1On" ></app-lvl1>
<app-lvl2 *ngIf="level2On" ></app-lvl2>
<app-lvl3 *ngIf="level3On" ></app-lvl3>
<app-lvl4 *ngIf="level4On" ></app-lvl4>
<app-lvl5 *ngIf="level5On"></app-lvl5>
