<!-- <div *ngIf="!arguementValid">
  <form [formGroup]="arguementForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group text-center">
          <label for="arguementTopic">Main Arguement</label>
          <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="main" [toolbarSettings]='tools'></ejs-richtexteditor>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div *ngIf="!secondPage" class="form-group text-center">
          <label for="name1">Name</label>
          <input formControlName="firstName" class="form-control text-center" type="text">
        </div>
      <div *ngIf="secondPage" >
        <div class="form-group text-center">
          <label for="name2">Name</label>
          <input formControlName="secondName" class="form-control text-center" type="text">
      </div>
      </div>
     </div>
     <div class="col-sm-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <div *ngIf="!secondPage" class="form-group text-center">
          <label>Your point of view</label>
          <ejs-richtexteditor id='iframeRTE' formControlName="firstPoint" [toolbarSettings]='tools'></ejs-richtexteditor>  
        </div>
        <div *ngIf="secondPage" >
          <div class="form-group text-center">
            <label>Your point of view</label>
            <ejs-richtexteditor id='iframeRTE' formControlName="secondPoint" [toolbarSettings]='tools'></ejs-richtexteditor>
          </div>
        </div>        
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <button mat-button *ngIf="!secondPage" (click)="onNext()">Next</button>
        <button mat-button *ngIf="secondPage" (click)="onAccept()">Done</button>
      </div>
    </div>
  </form>
</div>

<div *ngFor="let item of phoneList; let i = index;">
    <app-register-phone *ngIf="arguementValid" [phoneIndex]="i" (removePhoneEmit)="removePhoneEmit($event)" (addPhoneEmit)="addPhoneEmit($event)" (removePhone)="removePhoneEmit()"></app-register-phone>
</div>

<div class="container row text-center" *ngIf="arguementValid">
  <button mat-button *ngIf="arguementValid" (click)="submit()">Done</button>
</div> -->

<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Main Arguement</ng-template>
      <label for="arguement">Main Arguement</label>
        <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="firstCtrl" [toolbarSettings]='tools'></ejs-richtexteditor>
        <p *ngIf="firstFormGroup.invalid" class="text-warning">*Arguement required*</p>
      <div>
        <button mat-button matStepperNext (click)="test()" >Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>First opinion</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field> 
      <br>
      <label>Opinion</label>
      <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="arguement" [toolbarSettings]='tools'></ejs-richtexteditor>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Second opinion</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <br>
      <label>Opinion</label>
      <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="arguement" [toolbarSettings]='tools'></ejs-richtexteditor>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onNext()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Phone Numbers</ng-template>
    <div>
      <app-register-phone *ngFor="let item of phoneList; let i = index;" [phoneIndex]="i" (removePhoneEmit)="removePhoneEmit($event)" (addPhoneEmit)="addPhoneEmit($event)"></app-register-phone>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <ng-template matStepLabel>Review</ng-template>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepperDone()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>