<form [formGroup]="arguementForm">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group text-center">
        <label for="arguementTopic">Main Arguement</label>
        <ejs-richtexteditor id='iframeRTE' formControlName="main" [toolbarSettings]='tools'></ejs-richtexteditor>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
     <div class="form-group text-center">
       <label for="name1">Name:</label>
       <input formControlName="point1" class="form-control" type="text">
     </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group text-center">
        <label for="name2">Name:</label>
        <input formControlName="point2" class="form-control" type="text">
      </div>
    </div>
  </div>
  <button (click)="test()">test</button>
</form> 
