<!-- <div *ngIf="!arguementValid">
  <form [formGroup]="arguementForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group text-center">
          <label for="arguementTopic">Main Arguement</label>
          <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="main" [toolbarSettings]='tools'></ejs-richtexteditor>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div *ngIf="!secondPage" class="form-group text-center">
          <label for="name1">Name</label>
          <input formControlName="firstName" class="form-control text-center" type="text">
        </div>
      <div *ngIf="secondPage" >
        <div class="form-group text-center">
          <label for="name2">Name</label>
          <input formControlName="secondName" class="form-control text-center" type="text">
      </div>
      </div>
     </div>
     <div class="col-sm-3"></div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <div *ngIf="!secondPage" class="form-group text-center">
          <label>Your point of view</label>
          <ejs-richtexteditor id='iframeRTE' formControlName="firstPoint" [toolbarSettings]='tools'></ejs-richtexteditor>  
        </div>
        <div *ngIf="secondPage" >
          <div class="form-group text-center">
            <label>Your point of view</label>
            <ejs-richtexteditor id='iframeRTE' formControlName="secondPoint" [toolbarSettings]='tools'></ejs-richtexteditor>
          </div>
        </div>        
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <button mat-button *ngIf="!secondPage" (click)="onNext()">Next</button>
        <button mat-button *ngIf="secondPage" (click)="onAccept()">Done</button>
      </div>
    </div>
  </form>
</div>

<div *ngFor="let item of phoneList; let i = index;">
    <app-register-phone *ngIf="arguementValid" [phoneIndex]="i" (removePhoneEmit)="removePhoneEmit($event)" (addPhoneEmit)="addPhoneEmit($event)" (removePhone)="removePhoneEmit()"></app-register-phone>
</div>

<div class="container row text-center" *ngIf="arguementValid">
  <button mat-button *ngIf="arguementValid" (click)="submit()">Done</button>
</div> -->

<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>First person's name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>The arguement</ng-template>
      <!-- <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field> -->
      <ejs-richtexteditor (focus)="clearText()" id='iframeRTE' formControlName="secondCtrl" [toolbarSettings]='tools'></ejs-richtexteditor>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup"></form>
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Fill out your address</ng-template>
    <mat-form-field>
      <input matInput placeholder="Address" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <ng-template matStepLabel>Fill out your address</ng-template>
    <mat-form-field>
      <input matInput placeholder="Address" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepperDone()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>