<form [formGroup]="registerPhoneForm">
  <div class="row text-center" *ngIf="phoneIndex == 0">
    <div class="col-sm-12">
      <div class="form-check">
        <i class="fa fa-info-circle" matTooltip="This will only allow the people who you have sent the text to vote. If not, anyone with the link can vote as well"></i>
        <label for="allInvited" class="form-check-label margin">Only people who are invited can vote</label>    
        <input type="checkbox" id="allInvited" class="form-check-input margin" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group border border-primary">
      <div class="col-sm-5"></div>
      <div class="col-sm-2 text-center">
        <div>
          <input type="nummber" class="form-control" formControlName="phonenumber" maxlength="10" placeholder="{{ placeholder }}">
        </div>
      </div>
      <div class="col-sm-5 text-left">
        <div class="form-group border border-primary">
          <button [disabled]="registerPhoneForm.get('phonenumber').invalid" class="btn btn-success" (click)="addPhone()" >Add</button>
          <button [disabled]="registerPhoneForm.get('phonenumber').invalid" *ngIf="phoneIndex > 0" (click)="removePhone()" class="btn btn-danger" >Remove</button>
        </div>
      </div>
    </div>
  </div>
</form>