<form [formGroup]="registerPhoneForm">
  <div class="row text-center">
    <div class="form-group">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
        <div>
          <input type="nummber" class="form-control" formControlName="phonenumber" maxlength="10" placeholder="{{ placeholder }}">
        </div>
      </div>
      <div class="col-sm-5 text-left">
        <div class="form-group">
          <button [disabled]="registerPhoneForm.get('phonenumber').invalid" class="btn btn-success" (click)="addPhone()" >Add</button>
          <button [disabled]="registerPhoneForm.get('phonenumber').invalid" class="btn btn-danger" >Remove</button>
        </div>
      </div>
    </div>
  </div>
</form>