.collage-card{
    /* width: 400px; */
}
#userText{
    word-break: break-all;
    overflow: hidden;
}
#previewImage{
    cursor: pointer;
    width: 500px;
    height: auto;
}
@media(max-width: 376px){
    .collage-card{
        width: 235px;
    }
}
textarea{
    resize: vertical;
    height: 298px;    
}

