<div class="container">
  <div class="row">
    <div class="col-sm-4 form-group" >
      <label for="name">Name</label>
      <input class="form-control" type="text" [(ngModel)]="user.name">
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group" >
      <label for="message">Personal Note/Description/Message</label>
      <textarea class="form-control" [(ngModel)]="user.text"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 form-group" >
      <label for="message">Password &nbsp;</label><span matTooltipPosition="right" matTooltip="This will allow you to make edits to your post later on" class="glyphicon glyphicon-info-sign"></span>
      <input type="text" class="form-control" [(ngModel)]="user.password">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Photo</h3>
      <button *ngIf="!previewLoaded" type="button" mat-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden [(ngModel)]="user.path" style="display:none;" type="file" #imgFileInput  (change)="preview($event)" accept=".png,.jpg"/>

      <div *ngIf="imgURL">
        <div>
          <h4>Preview</h4>
          <mat-card class="collage-card">
            <mat-card-header>
              <mat-card-title>{{user.name}}</mat-card-title>
              <mat-card-subtitle>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="imgURL" (click)="onGallery()" id="previewImage" alt="">
            <mat-card-content>
              <p id="userText">
                {{user.text}}
              </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit"></span> Edit
              </button>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          <!-- <img [src]="imgURL" id="previewImage"> -->
        </div>
        <button *ngIf="previewLoaded" [disabled]="collageProfilePath" type="button" mat-button (click)="imgFileInput.click()">Change</button>
        <button type="button" [disabled]="collageProfilePath" mat-button (click)="upload(imgURL)">Done</button>
      </div>
      <div *ngIf="uploading" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [style.width]="(uploadProgress | async) + '%'" 
          [attr.aria-valuenow]="(uploadProgress | async)" 
          aria-valuemin="0" 
          aria-valuemax="100"></div>
      </div><span *ngIf="collageProfilePath" class="glyphicon glyphicon-ok" style="color:green"></span>    
    </div>
    </div>
</div>
  
    