body{
    background-color: #eee;
    min-height:1000px;
    min-width: 100%;
    
}

.col-xs-12{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
}

ul{
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    max-width: 100%;
}

.btn{
    vertical-align: baseline !important;
}

ul{
    border: groove 1px;
}

input{
    height: 34px;
    font-size: 16px;
}
#scoreboard{
    text-align: center;
    padding: 0 !important;
    
}
::placeholder{
    color: white;
}

@media (max-width: 375px){

    h3{
        font-size: 15px;
    }
    .btn.btn-danger{
        display: inline;
    }
    #enterName{
        display: none;
    }
    ::placeholder{
        color: black;
    }
    ul{
        height: auto;
        margin-left: 0;
    }

}