body{
    background-color: #eee;
}

.col-xs-12{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
}
#test{
    text-decoration: underline;
}
#scoreboard{
    text-align: center;
    padding: 0 !important;
}
.container{
    
}
ul{
    border: groove 1px;
    padding-left: 20px;
    padding-right: 20px;
}