body{
    background-color: #eee;
    min-height:1000px;
    min-width: 100%;
    
}

.col-xs-12{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
}

ul{
    
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
}


#test{
    text-decoration: underline;
    font-size: 25px;
}
.btn{
    vertical-align: baseline !important;
}

ul{
    border: groove 1px;
}

input{
    height: 34px;
    font-size: 16px;
}
#scoreboard{
    text-align: center;
    padding: 0 !important;
    
}
::placeholder{
    color: white;
}

@media (max-width: 375px){

    h3{
        font-size: 15px;
    }
    .btn.btn-danger{
        display: inline;
    }
    #enterName{
        display: none;
    }
    ::placeholder{
        color: black;
    }
    ul{
        height: 185px;
        margin-left: 0;
    }
    #test{
        text-decoration: underline;
        font-size: 20px;
        
    }

}