<div class="row">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Choose a Hall: </label>
            <select class="form-control">
                <option value="buffetMarina">Buffet Marina</option>
                <option value="renaissance">Renaissance</option>
                <option value="plaza">Plaza</option>
                <option value="resort">Punta Resort Cana Don Pablo</option>
                <option value="outside">Outside</option>
                <option value="none">None</option>
            </select>
            <hr>   
            </div>
            <div class="pure-control-group">
                <label>Choose a DJ: </label>
            <select class="form-control">
                <option value="marcoFerri">Marco Ferri</option>
                <option value="djmario">DJ Mario</option>
                <option value="band">The Foo Fighters</option>
                <option value="none">None</option>
                
            </select>
            </div> 
            <hr>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </fieldset>
    </form>
</div>