.collage-card {
    margin: 10px;
    background-color: #f9f6f6;
  }
  @media(min-width:768px){
    .collage-wall{
      flex: 35%;
    }
  }
  @media(max-width:767px){
    .collage-wall{
      flex: 100%;
    }
  }

  #collageImg{
    cursor: pointer;
  }
  .userText{
    text-align: center;
  }
 
  
  /* .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */