<div class="flex-container">
  <div class="collage-wall" *ngFor="let post of collagePosts | async">
    <mat-card class="collage-card">
      <mat-card-header>
        <mat-card-title>{{post.name}}</mat-card-title>
        <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{post.path}}" (click)="onGallery(post.path)" alt="Photo of a you n Vince">
      <mat-card-content>
        <p>
          {{post.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onEdit(post.name)">Edit</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>