<div class="flex-container">
  <div class="collage-wall" *ngFor="let post of collagePosts | async">
    <mat-card class="collage-card">
        <button style="float:right" mat-stroked-button (click)="onEdit(post.name)">Edit</button>
      <mat-card-header>
        <mat-card-title>{{post.name}}</mat-card-title>
        <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
      </mat-card-header>
      <img id="collageImg" mat-card-image src="{{post.path}}" (click)="onGallery(post.path)" alt="Photo of a you n Vince">
      <mat-card-content>
        <p>
          {{post.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>