.mat-card{
    min-width: 200px;
}

#score{
    font-size: 35px;
    position: static;
    float: right;
    margin-bottom: 0%;
    width: 100%;
}
#increment{
    /* margin-top:30px !important; */
    margin-bottom: 0px;
    height: auto;
    border: solid 1px white;

}
#increment:hover{
    /* margin-top:30px !important; */
    margin-bottom: 0px;
    height: auto;
    cursor: pointer;
    border: solid 1px lightgrey;
}

#deletePlayer{
    widows: 100%;
}