<h4>Score: {{ this.x }}</h4> 
<button class="btn btn-danger" id="reset"
style="margin: 1%" (click)="reset()"><img src="../../../assets/img/Reset.png"></button>
<div class="" id="increment">

    <button class="btn btn-success" 
    (click)="goal()"><img src="../../../assets/img/plus.png">
    </button>

    <button class="btn btn-success"
    style="margin-left: 1%" (click)="onMinus()">
    <img src="../../../assets/img/minusPng.png"></button>

    <br>
    <br>

 <input 
 placeholder="0" 
 class="input" 
 type="number" 
 id="number"
 (keyup.enter)="AddScore()" 
 #addScore>

 <input class="btn btn-success" id="Addscore" type="image" src="../../../assets/img/up-arrow-key.png" (click)="AddScore()" />

<button class="btn btn-danger"
 style="margin: 1%" (click)="reset()">Reset</button>
</div>