<mat-card>
        <span class="playerName">{{ playerName }}</span>
        <i class="material-icons" style="float: right;" id="deletePlayer" (click)="onDelete(this.indexplayer)">delete</i>
    <hr>
    <mat-card-content>
        <div id="score">
            <p style="float: left" >{{ score }}</p>        
        </div>
        <div class="unselectable">
            <i (click)="onMinus()" id="increment" class="material-icons">exposure_neg_1</i>
            <i (click)="goal()"  id="increment" class="material-icons">exposure_plus_1</i>
        </div>
        <mat-form-field>
            <input matInput type="number" style="float: right" (keyup.enter)="onAddScore()" #addScore>
        </mat-form-field>
            <i class="material-icons" style="cursor: pointer; float: right;" (click)="reset()">refresh</i>    
            <i class="material-icons" style="cursor: pointer; float: right;" (click)="onAddScore()">add_circle_outline</i>
    </mat-card-content>
</mat-card>