<div class="row">
    
        <div id="score" class="col-xs-12" >
            <span id="test"> {{ this.playerName }}: </span>
            <span id="scoreSpan" >{{ this.x }}</span>
        </div>
   
</div>

<div class="" id="increment">

    <button class="btn btn-success" 
    (click)="goal()"><img src="../../../assets/img/plus.png">
    </button>

    <button class="btn btn-success"
    style="margin-left: 1%" (click)="onMinus()">
    <img src="../../../assets/img/minusPng.png"></button>

    <!-- Required for desktop, hides on Mobile-->
    <br>
    <br>
    <!-- Required for desktop, hides on Mobile-->

    <input 
    placeholder="0" 
    class="input" 
    type="number" 
    id="number"
    (keyup.enter)="AddScore()" 
    #addScore>

    <input class="btn btn-success" id="Addscore" type="image" 
    src="../../../assets/img/up-arrow-key.png" 
    (click)="AddScore()" />
    
    <button class="btn btn-danger" id="increment"
    style="margin: 1%" (click)="reset()">
    <img src="../../../assets/img/Reset.png">
    </button>

</div>