#score{
    font-size: 35px;
    position: static;
    float: right;
    margin-bottom: 0%;
    width: 100%;
}
#increment{
    /* margin-top:30px !important; */
    margin-bottom: 0px;
    height: auto;
    border: solid 1px white;
    float: right;
}
#increment:hover{
    /* margin-top:30px !important; */
    margin-bottom: 0px;
    height: auto;
    float: right;
    cursor: pointer;
    border: solid 1px lightgrey;
}

.playerName{
    font-weight: bold;
    font-size: 20px;
}
@media(max-width:398px){
    .material-icons{
        font-size: 31px;
    }
}

@media(min-width:399px){
    .material-icons{
        font-size: 35px;
    }
}

