<app-head></app-head>

<div class="container" id="container">
    <h2>Submit Your Idea</h2>
    <h4>(beta)</h4>
        <div class="row">
          <mat-form-field class="example-full-width">
                <input matInput type="text" [(ngModel)]="name" name="name"  placeholder="Name" minlength="1">
            </mat-form-field>
                <br>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="idea" name="idea" (keydown.enter)="addPost()" placeholder="Idea" id="">
            </mat-form-field> <br>
            <button mat-button type="submit" (click)="addPost()">Add Idea</button>
        </div>
    <hr>
</div>

<div class="container" id="container">
    <h3>
        {{today | date}}
    </h3>
</div>

<!-- <div *ngIf="posts">
    <mat-accordion >
        <mat-expansion-panel >
            <mat-expansion-panel-header>
               This where it should be the date by idea.
                </mat-expansion-panel-header>
              <ul *ngFor="let x of posts | async">
                  <li>
                    <span id="name">{{x.data.fullName }} <br> </span>{{x.data.idea }}
                  </li>
              </ul>  
            </mat-expansion-panel>
    </mat-accordion>
</div> -->
<div class="container" *ngIf="posts" id="ideas">
    <div id="card">
        <div *ngFor="let x of testArray3; let i = index;" class="flex">
            <mat-card (mouseover)="onGet(x.id)">
                <mat-card-title>
                        <span  id="name">{{x.id}}</span>
                </mat-card-title>
                <mat-card-content>
                    <!-- <ul *ngFor="let y of posts3 | async">
                        <li  >
                            {{y.ideas}} <br>
                        </li>
                    </ul> -->
                    
                    
                    <ul *ngFor="let y of this.testArray4">
                        <div>
                            <li *ngIf="x.id === y.name">
                              {{y.ideas}} <br>
                            </li>
                        </div> 
                    </ul>
                </mat-card-content>
                <mat-card-footer>
                Last modified: {{x.data.date | date }}
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
<footer>v0.9</footer>

 