.container{
    text-align: center;
}
button{
    margin: 2%;
}
#idea{
    width: 28%;
    height: 15%;
}
#name{
    font-weight: bold;
}
/* input{
    border: 1px solid lightblue;
}
textarea{
    border: 1px solid lightblue;
} */

mat-accordian{
    flex-direction: column-reverse;
}

h3{
    margin-bottom: 6%;
}
button.mat-button{
    background: #dddddd !important;
}