<app-head></app-head>

<div class="container" id="container">
    <h2>Submit Your Idea</h2>
        <div class="row">
          <mat-form-field class="example-full-width">
                <input matInput type="text" [(ngModel)]="name" name="name"  placeholder="Name" minlength="1">
            </mat-form-field>
                <br>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="idea" name="idea" (keydown.enter)="addPost()" placeholder="Idea" id="">
            </mat-form-field> <br>
            <button mat-button type="submit" (click)="addPost()">Add Idea</button>
            <!-- <button mat-button type="submit" (click)="deletePost()">update Idea</button> -->
        </div>
    <hr>
</div>

<div class="container" id="container">
    <h3>
        {{today | date}}
    </h3>
</div>

<!-- <div *ngIf="posts">
    <mat-accordion >
        <mat-expansion-panel >
            <mat-expansion-panel-header>
               This where it should be the date by idea.
                </mat-expansion-panel-header>
              <ul *ngFor="let x of posts | async">
                  <li>
                    <span id="name">{{x.data.fullName }} <br> </span>{{x.data.idea }}
                  </li>
              </ul>  
            </mat-expansion-panel>
    </mat-accordion>
</div> -->
<div class="container" *ngIf="posts">
    <div id="card">
        <div *ngFor="let x of posts | async" class="flex">
            <mat-card >
                <mat-card-title>
                        <span  id="name">{{x.id}} </span>
                </mat-card-title>
                <mat-card-content>
                    <ul *ngFor="let y of testArray4">
                        <li *ngIf="x.id === y.data.name">
                                {{y.data.ideas}} <br>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-footer>
                Last modified: {{x.data.date | date }}
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
v0.9
 