<app-head></app-head>

<div class="container">
  <div *ngIf="effectOn" [class.pyro]="effectOn" style="max-width: 1170px;">
    <div class="before"></div>
    <div class="after"></div>
    <p style="text-align:center">FU You Vince Day!</p>
  </div>
</div>

<div *ngIf="!effectOn" class="container">
    <div class="row">
      <h4 id="demo">
      </h4>
  </div>
    <app-collage-wall *ngIf="!timerOn"></app-collage-wall>
</div>



<div class="container">
  <hr>
  <h3>2019</h3>
  <div class="row">
    <h4 id="demo">
    </h4>
</div>
  <app-collage-wall></app-collage-wall>
</div>


