.example-container {
    position: absolute;
    top: 10;
    bottom: 10;
    left: 0;
    right: 10;
    min-height: 50%;
  }
  
  .heading{
    margin-top:200px;
  }
  #sidebar-logo{
      height: auto;
      width: auto;
      float: none;
  }
 
  .sidebar-title{
      margin-left: 5%;
      margin-right: 5%;
      padding-right: 0;
      float: left;
      color: rgb(27, 43, 43)    
  }
 
   
  .openDrawer{
      padding:1%;
      color: #000;
      /* position: fixed; */
      float: right;
      margin: 2%;
      font-size: 2em;
      cursor: pointer;
      z-index: 2;
  }
   
  .navigation{
      width: 18.5%;
      position: fixed;
      top: 0;
      height: 100%;
      background-color: beige;
      z-index: 3;
  }
   
  .close-nav{
      float: right;
      font-size: 2em;
      margin: 3%;
      color: #fff;
      cursor: pointer;
  }
  .navigation img{
    height: 25px;
    width: 25px;
    float: right;
}
  .navigation ul{
      /* padding: 0%;
      margin-right: 0%; */
      list-style-type: none;
      height: 100%;
      float: left;
      min-width: 100%;
      vertical-align: baseline;
      padding-left: 0;

  }
   
  .navigation li{
      height: 5%;
      min-width: 100%;
      margin-bottom: 10%;
      padding: 5%;
      border-bottom: solid 0.5px rgba(255, 255, 255, 0.11);
      cursor: pointer;
      color: #fff;
      vertical-align: baseline;
  }
  
  .sub-menu li{
      list-style-type: none;
  }