<div class="page container" >
<div class="row">
<div class="col-md-12">
<h2 class="text-center span6"> Navigation drawer using angular 2 animation</h2>
</div>
<button (click)="toggle()">yeee</button> <br>

</div>



<!-- <div class="openDrawer"  (mouseenter)="navigationDrawer()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>  -->
 
<div class="navigation" [@navigation]="navigation" (mouseenter)="navigationDrawer()" (mouseleave)="navigationDrawer2()">
<ul>
  <li>
<img id="sidebar-logo" src="../../../assets/img/logo_white.png" alt="">
  </li>
<li> <span class="sidebar-title"><p>Home</p></span>       
  <span class="sidebar-img"><img src="../../../assets/img/avatar.png" alt="error"></span> 

</li>
<li> <span class="sidebar-title">Posts</span>        
  <span class="sidebar-img"><img src="../../../assets/img/envelope.png" alt="error"></span>

</li>
<li> <span class="sidebar-title">Ideas</span>        
  <span class="sidebar-img"><img src="../../../assets/img/smartphone.png" alt="error"></span>

</li>
<li> <span class="sidebar-title">Contact</span>  
  <span class="sidebar-img"><img src="../../../assets/img/instagram.png" alt="error"></span>
</li>
<li>
  <a (click)="toggle()">
    <span class="sidebar-title">Settings</span> 
    <span [ngClass]="(isOpen)?'arrow-active':'arrow'"> ▶ </span>
    <span class="sidebar-img"><img src="../../../assets/img/settings.png" alt="error"></span>
  </a><br>
<div>
  <ul  class="sub-menu" [@openClose]="isOpen ? 'open' : 'closed'" >
    <li>
      <span class="sidebar-title">Setting 1</span><span class="sidebar-img"><img src="../../../assets/img/settings.png" alt="error"></span>
    </li> 
    <li>
      <span class="sidebar-title">Setting 2 </span><span class="sidebar-img"><img src="../../../assets/img/settings.png" alt="error"></span>
    </li> 
    <li>
      <span class="sidebar-title">Setting 3</span><span class="sidebar-img"><img src="../../../assets/img/settings.png" alt="error"></span>
    </li>
  </ul>
</div>
</li>
<!-- <li class="sidebar-title">
  <p style="font-size:10px; color: black;">test</p>
</li> -->
</ul>
</div>
