<div class="container" id="test">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div>
        <label for="name">Name: </label>
        <input formControlName="name" id="name"/>
        <span *ngIf="this.userForm.controls.name.invalid">Required</span>
      </div>
      
      <br>
      <br>
      
      <div>
        <label for="password">Password: </label>
        <input formControlName="confirmPassword"/>
        <span *ngIf="this.userForm.controls.confirmPassword.invalid">Required</span>  
      </div>

      <br>
      <br>
      
      <div>
        <label for="password">Email: </label>
        <input formControlName="confirmEmail"/>
        <span *ngIf="this.userForm.controls.confirmEmail.invalid">Required</span>  
      </div>
      <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
    <button (click)="openDialog()"> openDialog</button>
</div>
<div class="container">
  <h3>Upload a File</h3>
  <button *ngIf="!previewLoaded" type="button" mat-button (click)="imgFileInput.click()">Add a photo</button>
  <input hidden style="display:none;" type="file" #imgFileInput  (change)="preview($event)" accept=".png,.jpg"/>
  
  <!-- <input type="file" (change)="upload($event)" accept=".png,.jpg"> -->

 
  <!-- <div *ngIf="collageProfilePath">
    <div *ngFor="let image of namesList">
        Preview: <img [src]="image.data.path" style="width:30%; height:auto;">
    </div>
  </div> -->
  <div *ngIf="imgURL">
    <div>
      <h4>Preview</h4>
     <img [src]="imgURL" (click)="open(i)" id="previewImage">
    </div>
    <button *ngIf="previewLoaded" [disabled]="collageProfilePath" type="button" mat-button (click)="imgFileInput.click()">Change</button>
    <button type="button" [disabled]="collageProfilePath" mat-button (click)="upload(imgURL)">Done</button>
  </div>
  <div *ngIf="uploading" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width]="(uploadProgress | async) + '%'" 
      [attr.aria-valuenow]="(uploadProgress | async)" 
      aria-valuemin="0" 
      aria-valuemax="100"></div>
  </div><span *ngIf="collageProfilePath" class="glyphicon glyphicon-ok" style="color:green"></span>  
</div>
