<div class="container" id="test">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      
      <label for="name">Name</label>
      <input formControlName="name" id="name"/>
      <div *ngIf="userForm.invalid && userForm.touched">Required</div>

      <label for="password">Password</label>
      <input formControlName="confirmPassword" [(ngModel)]="confirmPassword"/>
      <div *ngIf="userForm.invalid && userForm.touched">Required</div>

      <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
</div>
  