<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h2>Hello!</h2>
        <p>Welcome to FU Vince day! This is a special day where we gather aound and remember all the ways Vince has made us cry out in anger, frustration or in sadness; "Fuck You!". </p>
        <p>While we normally express our angst towards Vince in private or public, I thought that maybe we can change it up this year. 
          I created a special little web app that will allow you to upload any picture you like (.png, .jpg) and display it here on the website like our own private Facebook. 
          Along with the picture, you can add a short description or note to help give the picture a little context. </p>
        <p>The aim of this app is to show Vince that while he might sometimes make us go bananas, that we still like the dude. Besides, after all these years of FU Vince day, he's been taking it like a champ.</p>
        <h4>Enjoy!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="begin">
          <button type="button" mat-button (click)="onBegin()">Begin</button>
      </div>
    </div>
  </div>
</div>