h2,.example-full-width, .center{
    text-align: center;
}
@media (min-width: 990px){
    .example-card{
        max-width: 300px;
        margin-left: 415px;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 989px){
    body{
        min-width: 100%;
    }
}

.example-full-width{
    margin: 10px;
}
#numberField{
    max-width: 80px;
}
#dropdown{
    max-width: 40%;
}
body > app-root > app-measure-converter > div > mat-card:nth-child(3) > mat-card-header{
    text-align: center;
    display: inherit;
}