<app-head></app-head>
<div class="container">

  <div>
    <h2>
      Measurement Converter
    </h2>
  </div>

  <div class="center">
      <mat-form-field class="example-full-width" id="numberField">
          <input matInput type="number" name="measureVal" [(ngModel)]="measureVal" (ngModelChange)="calculate()">
        </mat-form-field>
        <mat-form-field class="example-full-width" id="dropdown">
          <mat-select placeholder="Units" [(ngModel)]="selectedUnit" (ngModelChange)="calculate()" name="item">
            <mat-option *ngFor="let item of units; let i = index" [value]="item.value">
              {{item.unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div> 

  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Results</mat-card-title>
        <mat-card-subtitle>yee</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <mat-list id="list">
              <mat-list-item> Cups: {{cups}}</mat-list-item>
              <mat-list-item> Grams: {{grams}}</mat-list-item>
              <mat-list-item> Teaspoon: {{teaspoon}}</mat-list-item>
              <mat-list-item> Tablespoon: {{tablespoon}}</mat-list-item>
              <mat-list-item> Liters: {{liters}}</mat-list-item>
              <mat-list-item> Ounces: {{ounces}}</mat-list-item>
              </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Action 1</button>
        <button mat-button>Action 2</button>
      </mat-card-actions>
    </mat-card>
  
</div>
