<div class="row">
    <form (ngSubmit)="onSubmit(f)" #f=ngForm class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>Choose a Hall: </label>
            <select class="form-control" name="hall" ngModel>
                <option value="140">Buffet Marina</option>
                <option value="129">Renaissance</option>
                <option value="160">Plaza</option>
                <option value="2000">Punta Resort Cana Don Pablo</option>
                <option value="50">Outside</option>
                <option value="0">None</option>
            </select>   
            </div>
            <hr>
            <div class="pure-control-group">
                <label>Choose a DJ: </label>
            <select class="form-control" name="dj" ngModel >
                <option value="3000">Marco Ferri</option>
                <option value="2000">DJ Mario</option>
                <option value="10000">The Foo Fighters</option>
                <option value="0">None</option>
            </select>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Calculate</button>
            <button type="button" style="margin-left:1%" (click)="onReset()" class="btn btn-danger">Reset</button>
        </fieldset>
    </form>
    <hr>
    <div *ngIf="showBudget">
        <label>Estimated Total Costs: <span>{{this.expectedCost | currency}}</span> </label>
        <br>
        <label>Budget: <span *ngFor="let x of test">{{x.budget | currency}}</span> </label>
        <br>
        <label>Balance: <span *ngIf="this.balance > 0" style="color:green">{{this.balance | currency}}</span><span *ngIf="this.balance < 0" style="color:red">{{this.balance | currency}}</span> </label>
    </div>  
</div>