<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f=ngForm class="pure-form pure-form-aligned">
        <fieldset>
            <div *ngIf="isHall" class="pure-control-group">
            <label>Choose a Hall: </label>
            <select class="form-control" name="hall"  ngModel>
                    <option *ngFor="let x of Hall"
                    [value]="x.price"
                    >{{ x.name }}</option>
            </select> 
            <hr>  
            </div>
            <div *ngIf="isMusic" class="pure-control-group">
            <label>Choose a DJ: </label>
            <select class="form-control" name="dj" ngModel >
                <option *ngFor="let y of DJ"
                [value]="y.price"
                >{{ y.name }}</option>
            </select>
            <hr>
            </div>
            <div *ngIf="isBand" class="pure-control-group">
                <label>Choose a Band: </label>
                <select class="form-control" name="band" ngModel >
                    <option *ngFor="let z of Band"
                    [value]="z.price"
                    >{{ z.name }}</option>
                </select>
                <hr>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
            <button type="button" style="margin-left:1%" (click)="onReset()" class="btn btn-danger">Go Back</button>
            <div id="result" *ngIf="showBudget">
                    <label>Estimated Total Costs: <span>{{this.expectedCost | currency}}</span> </label>
                    <br>
                    <label>Budget: <span>{{this.budget | currency}}</span> </label>
                    <br>
                    <label>Balance: <span *ngIf="this.balance >= 0" style="color:green">{{this.balance | currency}} - You should be fine.</span>
                        <span *ngIf="this.balance < 0" style="color:red">{{this.balance | currency}} - You Broke.</span>
                    </label>
                </div>
        </fieldset>
    </form>
    <!-- Legend and Edit Values-->
    <div>
        <hr>
        <div id="legend">
        <label class="underline">Legend</label><br>
        </div>
        <div class="container">
                <div class="prices" *ngIf="isSet">
                    <label class="underline">DJ Prices </label> <a (click)="onEdit()">Edit</a>
                    <p *ngFor="let dj of DJ">{{dj.name}}  {{dj.price}}</p>  
                </div>

                <!-- Hidden form to take new values -->

                <div class="prices" *ngIf="!isSet">
                <label class="underline">DJ Prices </label>
                    <form (ngSubmit)="onEditSubmit(g)" #g=ngForm >
                    <div *ngFor="let dj of DJ; let i = index">
                        <label class="form-group"> {{dj.name}} <br> </label>
                        <input (ngModel)="DJ[i].price" type="number" name="newPrice{{i}}" class="form-control"> <hr>
                    </div>
                    <button class="btn btn-primary" (click)="getIndex(DJ)" type="submit">Done</button> 
                    </form>
                </div>
                    <!-- <div class="prices">
                        <label class="underline">Hall Prices per Person </label>
                        <p *ngFor="let hall of Hall">{{hall.name}}  {{hall.price}}</p>  
                    </div>
                    <div class="prices">
                        <label class="underline">Band Prices </label>
                        <p *ngFor="let band of Band">{{band.name}}  {{band.price}}</p>  
                    </div> -->
        </div>
        
    
        
    </div>
</div>
<!-- <p *ngFor="let x of DJ">{{x.name}} and {{x.rice}}</p> -->