<div class="row">
    <form (ngSubmit)="onSubmit(f)" #f=ngForm class="pure-form pure-form-aligned">
        <fieldset>
            <div *ngIf="isHall" class="pure-control-group">
                <label>Choose a Hall: </label>
            <select class="form-control" name="hall"  ngModel>
                    <option [ngValue]='0'>None</option>
                    <option required *ngFor="let x of Hall"
                    [value]="x.price"
                    [selected]="x.name == 'None'"
                    >{{ x.name }}</option>
            </select> 
            <hr>  
            </div>
            <div *ngIf="isMusic" class="pure-control-group">
                <label>Choose a DJ: </label>
            <select class="form-control" name="dj" ngModel >
                <option *ngFor="let x of DJ"
                [value]="x.price"
                >{{ x.name }}</option>
            </select>
            <hr>
            </div>
            
            <button type="submit" class="btn btn-primary">Calculate</button>
            <button type="button" style="margin-left:1%" (click)="onReset()" class="btn btn-danger">Reset</button>
        </fieldset>
    </form>
    <div *ngIf="showBudget">
        <hr>
        <label>Estimated Total Costs: <span>{{this.expectedCost | currency}}</span> </label>
        <br>
        <label>Budget: <span *ngFor="let x of test">{{x.budget | currency}}</span> </label>
        <br>
        <label>Balance: <span *ngIf="this.balance >= 0" style="color:green">{{this.balance | currency}} - You should be fine.</span>
            <span *ngIf="this.balance < 0" style="color:red">{{this.balance | currency}} - You Broke.</span>
        </label>
    </div>  
</div>
<!-- <p *ngFor="let x of DJ">{{x.name}} and {{x.rice}}</p> -->