.row{
    max-width: 55%;
    margin-left: 25%;
    margin-right: auto;
    align-content: center;
}
#showBudget{
    max-width: 300px;
}
#result
{
    width: 60%;
    margin-top: 6%;
    margin-right: 3px;
}
#legend{
    width: auto;
    text-align: center;
    align-items: center;
}
.underline{
    text-decoration: underline;
    font-size: 15px;
}

.prices{
    width: auto;
    float: left;
    margin:5%;
}
.form-control{
    width: 99%;
}
::placeholder{
    font-weight: bold;
}
a{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}